<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/hospitals/new" th:object="${hospitalForm}"
          method="post">
        <div class="form-group">
            <label th:for="name">병원 이름</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
            <p th:if="${errorMessage}" class="text-danger" th:text="${errorMessage}"></p>
        </div>

        <div class="form-group">
            <label th:for="city">도시</label>
            <input type="text" th:field="*{city}" class="form-control"
                   placeholder="위치 도시" th:class="${#fields.hasErrors('city')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="street">도로명주소</label>
            <input type="text" th:field="*{street}" class="form-control"
                   placeholder="도로명주소" th:class="${#fields.hasErrors('street')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Incorrect date</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>