<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>병원명</th>
                <th>위치</th>
                <th>도로명주소</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hospital : ${hospitals}">
                <td th:text="${hospital.getName()}"></td>
                <td th:text="${hospital.getAdrress().getCity()}"></td>
                <td th:text="${hospital.getAdrress().getStreet()}"></td>
                <td>
                    <a class="btn btn-lg btn-dark" th:href="@{/hospitals/{id}/departments (id=${hospital.id})}">진료과</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>