<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>의사명</th>
                <th>경력</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.getName()}"></td>
                <td th:text="${doctor.getCareer()}"></td>
                <td>
                    <a class="btn btn-lg btn-dark" th:href="@{'/hospitals/' + ${hospitalId} +
                     '/departments/' + ${departmentId} + '/doctors/' + ${doctor.id} + '/reserve'}">예약하기</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>